<div class="info">
  <a href="http://www.fatina00.me" target="_blank"><div class="icon_chen"></div></a>
  <h2>Hello everybady, I'm fatina.</h2>
  <p>将来的前端工程师</p>
  <p>一心追梦的女孩 (๑•̀ㅂ•́)و✧</p>
  <p>∞</p>
  <p>爱好和兴趣</p>
  <p>看电影 &middot; 听歌 &middot; 唱歌 &middot; 吃美食 &middot; 逛逛逛 &middot; 买买买</p>
  <p>∞</p>
  <div class="list_icon">
    <a href="mailto:fatina1230@sina.com"><i class="fa fa-envelope"></i></a>
    <a href="https://gitcafe.com/fatina" target="_blank"><i class="fa fa-github-alt"></i></a>
	<a href="http://www.meipai.com/user/1059427644"  target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="http://www.weibo.com/5285889079/profile?topnav=1&wvr=6&is_all=1" target="_blank"><i class="fa fa-weibo"></i></a>
    <a href="https://www.zhihu.com/people/wang-feng-jun-26" target="_blank"><i>知</i></a>
  </div>
</div>