<div class="interest">
  <div class="int-content">
    <h2>&middot; 交个朋友吧 &middot;</h2>
    <p>刺激/娱乐/疯狂的电影/<b>电影</b>/速度与激情/万万没想到</p>
    <p>黄渤/王宝强/徐峥/小沈阳/<b>喜剧演员</b>/丫蛋/大鹏/吴君如</p>
    <p>Kindle/<b>看书</b>/陈奕迅/那英/<b>唱歌</b>/王力宏/筷子兄弟/后街男孩</p>
    <p>努力<b>写代码</b>为自己的梦想奋斗/当<b>工程师</b>或者<b>翻译</b>咯/<b>业余前端</b>也是可以的</p>
    <p>∞</p>
    <p>To see the world things dangerous to come to<br>To see behind walls to draw closer<br>To find each other and to feel</p>
    <p>That is the purpose of life</p>
    <div class="int-link">
      <span><a href="https://gitcafe.com/fatina/fatina" target="_blank"> [ 送 ★ 嘛 ] </a></span>
      &nbsp;&middot;&nbsp;
      <span><a href="http://user.qzone.qq.com/1752774037/334" target="_blank"> [ 去留言 ] </a></span>
      &nbsp;&middot;&nbsp;
      <span><a href="javascript:">[ 打赏啦 ]</a></span>
    </div>
  </div>
</div>

