<div class="map">
  <div class="map-content">
    <iframe src="https://www.google.com/maps/d/embed?mid=zk6gaDt42sI0.kHz_1MtsxVOY"></iframe>
  </div>
  <div class="map-container">
    <div class="map-text one">
      <h2>很想来一场说走就走的旅行！</h2>
      <p>我的家在沙漠的地方，我没有见过东西还很多</p>
      <p>中国，我想在我自己的努力下，去到更多的地方</p>
      <p>想在巴黎铁塔下，跟爱人一起携手走过，一起在铁塔下许下今生的誓言</p>
	   <p>想在摩天轮的最高点，跟爱人一起许愿，让我们的愿望能够成真</p>
	   <p>想吃遍全世界的美食，而且还不长胖，我想要的还有很多很多，等着我去实现</p>
      <p>∞</p>
    </div>
    <div class="map-text two">
      <h2>想去?</h2>
      <p>西藏 &middot; 云南 &middot; 上海 &middot; 香港 &middot; 杭州 &middot; 黑龙江</p>
      <p>韩国 &middot; 巴黎 &middot; 欧洲</p>
      <p>∞</p>
      <h2>想吃？</h2>
      <p>凉皮 &middot; 年糕 &middot; 烤全羊 &middot; 寿司</p>
    </div>
  </div>
</div>